@import "../abstracts/mixins";
@import "../abstracts/variables";

.overflow-hidden {
  overflow: hidden;
}


.html {
  &.overflow-menu {
    overflow: hidden;
  }
}

html.overflow-hidden body {
  overflow: hidden;
}

html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar-track, html:not(.touch-screen) *::-webkit-scrollbar-track {
  background-color: #eee;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb, html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background-color: $accentColor !important;
}

.lg-actions .lg-next, .lg-actions .lg-prev {
  background-color: transparent !important;
  color: $whiteColor !important;
}

.lg-autoplay-button {
  display: none !important;
}

body, html {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body .hide-scrollbar, html .hide-scrollbar {
  scrollbar-width: none
}

body .hide-scrollbar::-webkit-scrollbar, html .hide-scrollbar::-webkit-scrollbar {
  display: none
}


img::selection {
  background-color: transparent;
}

.default-icon {
  width: 100%;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.--relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.overlap {
  position: relative;
  z-index: 3;
}

body {
  &.overflow-hidden {
    // padding-left: calc(100vw - 100%);
    overflow: hidden;

  }
}


.full-height, body, html {
  height: 100%;
}

.body-padding {
  height: 80px;
  @media (max-width: $breakpoint-md) {
    height: 85px;
  }
}


.section {
  overflow: hidden;
  position: relative;

  & .heading {

  }
}


.main {
   overflow: hidden;

  &-wrapper {
    //   position: relative;
    //  min-height: 100vh;
    //  overflow: hidden;
    z-index: 1;
  }

}

.swiper {
  &-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;



  }

  &-pagination {
    position: relative;
    bottom: 0;
    margin-top: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    z-index: 2 !important;

    @media (max-width: $breakpoint-md) {
      display: flex;
    }

    &.swiper-pagination-horizontal {
      width: auto;
    }

    &-bullet {
      font-size: 0;
      width: 26px;
      height: 4px;
      background: #D9D9D9;
      border-radius: 0;
      margin: 0 3.5px;

      &-active {

        width: 40px;
      }


      @include transition(.4);

      &:hover, &-active {
        background-color: $accentColor;

      }
    }
  }

  &-controls {

  }

  &-button-next, &-button-prev {
    @include transition(.4);
    border-color: $accentColor;

    & i {
      font-size: 15px;
      @include fontSize(10, 15);
      font-weight: 300;
      color: $accentColor;
      @include transition(.5);
    }


    &:after {
      display: none;
    }

    &:hover {
      border-color: #FB0;

      & i {
        color: #FB0;
      }
    }
  }

  &-button-next {
    margin-left: 20px;
  }
}


.swiper-container:not(.swiper-no-swiping) {
  cursor: url(../img/drag.png) 16 9, ew-resize;
}
.swiper-container.swiper-initialized {
  opacity: 1;
}