@import "../abstracts/mixins";
@import "../abstracts/variables";

.decor {
  position: absolute;

  z-index: -1;

  &.circle-blur {
    width: 427px;
    height: 427px;
    border-radius: 100%;
    background: rgba(176, 75, 255, .61);
    filter: blur(249px);
  }
}

.info {
  &__list {
    &-heading {
      margin-bottom: 38px;
    }

    &-accent {
      color: $accentColor;
      @include fontSize(14, 22);
      margin-top: 38px;
    }

    & li {
      padding-left: 25px;
      position: relative;
      @include fontSize(14, 18);
      line-height: 1.5;

      & + li {
        margin-top: 16px;
        @media (max-width: $breakpoint-md) {
          margin-top: 20px;
        }
      }

      &:before {
        content: '';
        width: 13px;
        height: 10px;
        background: url("../img/ar-list.svg") no-repeat center center;
        position: absolute;
        top: 54%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}

.s-main {
  position: relative;
  @media (max-width: $breakpoint-md) {
    padding: 116px 0 0 0;
  }

  & .btn-primary {
    @media (max-width: $breakpoint-md) {
      margin: 0 auto;
      z-index: -1;
    }
  }

  &__row {
    @media (min-width: $breakpoint-md) {
      flex-direction: row-reverse;
    }
  }

  &__content {
    padding: 150px 35px 100px 0;
    @media (max-width: $breakpoint-md) {
      padding: 0;
    }


  }

  &__bg {
    padding-bottom: 140%;
    position: relative;
    // z-index: 2;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    @media (max-width: $breakpoint-md) {
      position: relative;
      width: 100%;
      right: 0;
      top: 10px;
      z-index: -1;
    }
  }

  & .heading {
    margin-bottom: 50px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 0;
      text-align: center;
    }
  }

  & .description {
    width: calc(100% - 113px);
    @include fontSize(12, 22);
    line-height: 1.45;
    @media (max-width: $breakpoint-md) {
      width: calc(100% - 84px);
    }

    &__wrap {
      padding: 17px 20px;
      border: 1px dashed #6534c9;
      border-radius: 18px;
      margin-bottom: 46px;
      @media (max-width: $breakpoint-md) {
        padding: 17px 12px;

        margin: 0 auto 20px auto;
      }
    }

    &__icon {
      width: 106px;
      height: 106px;
      margin-right: 7px;
      @media (max-width: $breakpoint-md) {
        width: 70px;
        height: 70px;
        margin-right: 14px;
      }
    }
  }

  & .benefits {
    &__wrap {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      height: 70%;
      max-height: 510px;
      width: 100%;
      //  max-width: 450px;

      justify-content: space-between;
      display: flex;
      -webkit-flex-flow: wrap;
      flex-flow: wrap;
      align-content: space-between;

      @media (max-width: $breakpoint-md) {
        max-width: 400px;
      }
    }

    &__icon {
      width: 55%;
      height: 55%;
      object-fit: contain;

      &-wrap {
        height: 58px;
        width: 58px;

        border-radius: 9px;
        background: rgb(176, 75, 255);
        background: linear-gradient(90deg, rgba(176, 75, 255, 1) 0%, rgba(105, 45, 153, 1) 100%);
        @media (max-width: $breakpoint-md) {
          height: 36px;
          width: 36px;
        }
      }
    }

    &__heading {
      width: calc(100% - 72px);
      @include fontSize(11, 16);
      font-weight: 400;
      color: $whiteColor;
      @media (max-width: $breakpoint-md) {
        width: calc(100% - 48px);
      }
    }

    &__item {
      background: rgba(255, 255, 255, .18);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      width: 49%;
      max-width: 240px;
      border-radius: 16px;
      padding: 10.5px 9px;
      position: relative;
      @media (min-width: 767px) and (max-width: 1200px) {
        max-width: 190px;
      }


      @media (max-width: $breakpoint-md) {
        max-width: 148px;
      }

      &:nth-child(1) {
        z-index: -1;
        //top: -80px;
        @media (max-width: $breakpoint-md) {
          top: 60px;
        }

        @media (min-width: 767px) and (max-width: 1200px) {
          top: 60px;
          left: -15px;
        }
      }

      &:nth-child(2) {
        z-index: -1;
        top: 60px;
        right: 60px;
        flex-direction: row-reverse;

        & .benefits__icon-wrap {

        }

        @media (max-width: $breakpoint-md) {
          top: 0;
          right: 0;
        }

        @media (min-width: 767px) and (max-width: 1200px) {
          top: 0;
          right: -15px;
        }
      }

      &:nth-child(3) {
        left: -60px;
        @media (max-width: $breakpoint-md) {
          left: 0;
          top: -60px;
        }
        @media (min-width: 767px) and (max-width: 1200px) {

        }
      }

      &:nth-child(4) {
        top: -60px;
        flex-direction: row-reverse;

        & .benefits__icon-wrap {
          margin: 0 0 0 12px;
        }

        @media (max-width: $breakpoint-md) {
          top: 0;
        }
      }
    }
  }

  & .decor {
    &.circle-blur {
      bottom: 10%;

      &-right {
        bottom: 0;
        right: -200px;
      }
    }

    &.line {
      bottom: 30%;
      width: 950px;
      max-width: max-content;
      @media (max-width: $breakpoint-md) {
        width: 130%;
      }
    }
  }
}

.s-who-needs {
  padding-bottom: 95px;
  @media (max-width: $breakpoint-md) {
    padding-bottom: 28px;
    padding-top: 69px;
  }

  & .heading {
    margin-bottom: 67px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 28px;
    }
  }

  & .info {
    &__item {
      min-height: 350px;
      overflow: hidden;
      padding: 26px;
      border: 1px dashed #6534c9;
      border-radius: 18px;
      display: grid;
      gap: 36px;
      grid-template-columns: 116px 1fr;
      height: 100%;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 16px;
        height: auto;
        padding: 14px;
      }

      &-head {
        @media (max-width: $breakpoint-md) {
          display: grid;
          gap: 18px;
          grid-template-columns: 70px 1fr;
          align-items: center;
        }
      }

      & .decor {
        position: absolute;
        z-index: -1;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    &__heading {
      @include fontSize(18, 24);
      @media (min-width: $breakpoint-md) {
        margin-bottom: 17px;
      }
      @media (max-width: $breakpoint-md) {

      }
    }

    &__img {
      &-wrap {
        height: 116px;
        width: 116px;
        border-radius: 9px;
        border: 1px solid rgba(255, 255, 255, .42);
        background: rgba(255, 255, 255, .07);
        @media (max-width: $breakpoint-md) {
          height: 70px;
          width: 70px;
        }
      }
    }
  }
}

.s-when-need {
  padding-bottom: 126px;
  @media (max-width: $breakpoint-md) {
    padding-bottom: 78px;
  }

  & .heading {
    @include fontSize(24, 32);
    margin-bottom: 38px;
  }

  & .info {

    &__heading {

    }

    &__list {
      &-heading {
        @include fontSize(20, 22);
      }
    }
  }

  & .btn-primary {
    margin-top: 46px;

    @media (max-width: $breakpoint-md) {
      margin: 31px auto 0 auto;
      width: auto;
      display: block;
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;

    &-wrap {
      position: relative;
      padding-bottom: 62%;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 34px;
      }

      & .logo {
        position: absolute;
        top: 90%;
        left: 50%;
        width: 65%;
        transform: translateX(-50%);
        object-fit: contain;
      }
    }
  }

  & .decor {
    top: -40%;
  }
}

.s-about {
  background: rgba(0, 0, 0, .19);
  padding: 92px 0 140px 0;
  @media (max-width: $breakpoint-md) {
    padding: 53px 0 83px 0;
  }

  & .decor {
    top: -200px;
    right: -200px;
  }

  &__inner {

  }

  & .heading {
    margin-bottom: 33px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
    }
  }

  & .description {
    & p, & {
      @include fontSize(14, 18);
      line-height: 1.5;
    }

    & p + p {
      margin-top: 20px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &-wrap {
      padding-bottom: 100%;
      min-height: 480px;
      position: relative;

      margin: 0 auto -20px auto;


    }
  }


  & .service {
    &__wrap {
      @media (min-width: $breakpoint-md) {
        margin-bottom: 58px;
      }

      &-heading {
        margin-bottom: 40px;
        font-size: 22px;
        @media (max-width: $breakpoint-md) {
          text-align: center;
        }
      }
    }

    &__icon {
      width: 55px;
      height: 55px;
      object-fit: contain;

      &-wrap {
        height: 106px;
        width: 106px;
        background-color: rgba(0, 0, 0, 0.53);
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        margin-bottom: 13px;
        position: relative;
        overflow: hidden;
        @media (max-width: $breakpoint-md) {
          margin: 0 auto 13px auto;
        }

        &:after {
          content: '';
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: #000;
          background: linear-gradient(45deg, transparent 0%, #b04bff 100%);
          opacity: .2;
        }
      }
    }

    &__heading {
      color: #B04BFF;
      margin-bottom: 13px;
      @media (max-width: $breakpoint-md) {
        width: 100%;
      }
    }


    &__item {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 52px;
        text-align: center;
      }
    }
  }

  & .make-call {
    padding: 26px 25px;
    border-radius: 18px;
    border: 1px dashed $accentColor;
    @media (max-width: $breakpoint-md) {
      padding: 28px 20px 34px 20px;
      text-align: center;
    }

    &__heading {
      width: calc(100% - 340px);
      max-width: 560px;
      @include fontSize(16, 24);
      line-height: 1.33;
      @media (max-width: $breakpoint-md) {
        margin: 0 auto 27px auto;
        max-width: 75%;
        width: 100%;
      }
    }

    & .btn-primary {
      display: inline-block;
      @media (max-width: $breakpoint-md) {
        margin: 0 auto;
      }

    }
  }
}

.s-steps {
  margin-bottom: 160px;
  padding-top: 20px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 72px;
  }

  & .heading {
    padding-left: 39px;
    padding-top: 24px;
    width: 100%;
    max-width: min-content;

    &__wrap {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 26px;
      }

      & .decor {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }

}

.s-advantages {
  padding: 99px 0 135px 0;
  @media (max-width: $breakpoint-md) {
    padding: 50px 0 10px 0;
  }

  & .heading {
    margin-bottom: 84px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 37px;
    }
  }

  & .benefits {
    &__wrap {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      gap: 40px 20px;

      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);

      }
    }

    &__icon {
      width: 60px;
      height: 60px;
      object-fit: contain;
      @media (max-width: $breakpoint-md) {
        width: 55px;
        height: 55px;
      }

      &-wrap {
        width: 122px;
        height: 119px;
        overflow: hidden;
        margin: 0 auto 23px auto;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, .53);
        position: relative;

        &:after {
          content: '';
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgb(0, 0, 0);
          background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(176, 75, 255, 1) 100%);
          opacity: .2;
        }
      }
    }

    &__description {
      line-height: 1.5;
      @include fontSize(14, 16);

    }

    &__heading {
      @include fontSize(16, 18);
      line-height: 1.5;
    }

    &__item {
      //box-shadow: 0px 4px 30px 0px rgba(120, 82, 247, 0.06);
      // background: #fff;
      // border-radius: 10px;
      // padding: 16px 24px;
    }
  }

  & .decor {
    top: 0;
  }
}

.s-rates {
  padding: 109px 0 139px 0;
  background: rgba(0, 0, 0, .19);
  @media (max-width: $breakpoint-md) {
    padding: 46px 0 44px 0;
  }

  & .decor {
    &.circle-blur {
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
    }

    &.line {
      left: 50%;
      bottom: 198px;
      transform: translateX(-50%);
      @media (max-width: $breakpoint-md) {
        min-width: 120%;
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
      }
    }
  }

  & .heading {
    margin-bottom: 60px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 23px;
    }
  }

  .tariff {
    &__item {
      padding: 52px 25px 52px 25px;
      border: 1px solid rgba(255, 255, 255, .42);
      background: rgba(255, 255, 255, 0.07);
      border-radius: 9px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      backdrop-filter: blur(3.4px);
      @media (max-width: $breakpoint-md) {
        // max-width: 400px;
        margin: 0 auto 25px auto;
        height: auto;
        padding: 40px 13px 64px 13px;
      }

      & .btn-primary {
        display: inline-block;
      }
    }

    &__column {
      &:nth-child(2) {
        & .tariff__item {
          border: 4px solid $accentColor;
          @media (min-width: $breakpoint-md) {
            height: calc(100% + 40px);
            margin-top: -20px;
            padding-top: 70px;
          }
        }
      }
    }

    &__name {
      margin-bottom: 24px;

      @include fontSize(24, 32);
      line-height: 1;

    }

    &__term {
      background: rgba(0, 0, 0, .2);
      border-radius: 9px;
      display: inline-block;
      margin-top: 19px;
      padding: 6px 15px;
    }

    &__price {
      font-size: 24px;
      padding: 12px 0 18px 0;
    }

    &__services {
      display: flex;
      flex-wrap: wrap;

      & li {
        flex: 0 0 100%;
        padding: 12px 0;
        font-size: 18px;
        position: relative;
        line-height: 1.5;

        &:not(&:last-child) {
          &:after {
            content: '';
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, .27);
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.s-portfolio {
  padding: 113px 0 62.5px 0;

  @media (max-width: $breakpoint-md) {
    //padding: 0 0 36.5px 0;
    padding: 50px 0;
  }

  & .heading, & .description {
    margin-bottom: 22px;
  }

  & .heading {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 12px;
    }
  }

  & .description {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
    }
  }

  & .btn-primary {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 42px;
    }
  }

  & .portfolio {
    &__column {
      &:nth-of-type(4) {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666664%;
        -ms-flex: 0 0 66.666664%;
        flex: 0 0 66.666664%;
        max-width: 66.666664%;
        @media (max-width: $breakpoint-md) {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 99.999996%;
          -ms-flex: 0 0 99.999996%;
          flex: 0 0 99.999996%;
          max-width: 99.999996%;
        }
      }
    }

    &__item {
      height: 315px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, .42);
      overflow: hidden;
      margin-bottom: 20px;
      width: 100%;
      @media (max-width: $breakpoint-md) {
        height: 340px;
      }

    }

    &__info {
      padding: 29px 17px;
      width: 100%;
    }

    &__heading {
      @include fontSize(18, 20);
      margin-bottom: 8px;
    }

    &__description {
      @include fontSize(14, 16);
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: .5;
    }
  }


}

.s-clients {
  margin-top: 24px;
  margin-bottom: 100px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 56px;
  }

  & .heading {
    margin-bottom: 56px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }


  }

  .clients {
    &__slider {
      @media (min-width: 960px) {

        // margin-right: calc((-100vw + 920px) / 2);
      }
      @media (min-width: 1240px) {

        margin-right: calc((-100vw + 1291px) / 2);
      }
    }

    &__item {
      background: rgba(255, 255, 255, .07);
      border: 1px solid rgba(255, 255, 255, .42);
      border-radius: 9px;
      height: 214px;
      @media (max-width: $breakpoint-md) {
        height: 130px;
      }

      & img {
        height: 90%;
        width: 90%;
        object-fit: contain;
      }
    }
  }

  .swiper-pagination {
    margin-top: 42px;
    @media (max-width: $breakpoint-md) {
      margin-top: 37px;
    }
  }

  & .container {
    position: relative;

    &:after {

      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 99%;
      background: rgba(18, 18, 18, .8);
      z-index: 5;

    }
  }
}

.s-cta {
  padding-bottom: 80px;
  @media (max-width: $breakpoint-md) {
    padding-bottom: 0;
  }

  &__inner {
    @media (max-width: $breakpoint-md) {
      text-align: center;
    }
  }

  & .decor {
    &.circle-blur {
      top: -35%;
    }

    &.line {
      bottom: 35%;
      left: 20px;
      width: 950px;
      max-width: max-content;
      @media (max-width: $breakpoint-md) {
        width: 130%;
      }
    }
  }

  & .img {
    &__wrap {
      @media (max-width: $breakpoint-md) {
        margin-top: 46px;
      }
    }
  }

  & .heading {
    margin-bottom: 29px;
  }

  & .description {
    margin-bottom: 33px;
  }

  & .form-control {
    max-width: 560px;
    @media (max-width: $breakpoint-md) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  & .btn-primary {
    margin-top: 15px;
  }

  & .social__list {
    margin-top: 48px;
    justify-content: center;
  }
}
