@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {
  overflow: hidden;

  & .brief {
    @media (max-width: $breakpoint-md) {
      text-align: center;
      margin-bottom: 63px;
    }

    & .heading {
      margin-bottom: 16px;
    }

    & .description {
      margin-bottom: 32px;
      max-width: 430px;
      @media (max-width: $breakpoint-md) {

        margin: 0 auto 36px auto;
      }
    }

    & .btn-primary {

    }
  }


  &__top, &__bottom {
    @media (max-width: $breakpoint-md) {

      //margin: 0 auto;
    }
  }

  &__top {
    padding: 10px 0 73px 0;

    @media (max-width: $breakpoint-md) {
      padding: 36px 0;
    }
  }

  &__bottom {
    padding: 37px 0;
    @media (max-width: $breakpoint-md) {
      padding: 31px 0 33px 0;
    }

    &:before {
      content: '';
      background: rgba(0, 0, 0, 0.19);
      position: absolute;
      height: 9px;
      width: 1000vw;
      left: -50vw;
      top: 0;
    }

    & .copyright {
      @include fontSize(16, 18);
      @media (max-width: $breakpoint-md) {
        order: 3;
        width: 100%;
        text-align: center;
        margin-top: 31px;
      }
    }

    & .cta {
      &__btn {
        @include fontSize(14, 16);
        line-height: 1;
        border: 1px solid $accentColor;
        border-radius: 18px;
        padding: 26px 15px 25px 15px;
        min-width: 209px;
        display: inline-block;
        @media (min-width: 767px) and (max-width: 1200px) {
          display: none;
        }
        @media (max-width: $breakpoint-md) {
          min-width: 190px;
        }
        @media (max-width: 400px) {
          min-width: 145px;
          padding: 10px 10px 11px 10px;
        }


      }

      &__phone {
        font-size: 22px;
        @include fontSize(16, 22);
        margin-right: 25px;
        @include transition(.4);
        display: inline-block;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 27px;

          margin-right: 0;
        }

        &:hover {
          color: $accentColor;
        }
      }

      @media (max-width: $breakpoint-md) {
        width: 50%;
        text-align: right;
      }

    }

  }

  &-item {
    &:not(&:last-child) {
      position: relative;

      &:after {
        content: '';
        width: 1px;
        height: 100%;
        background: rgba(255, 255, 255, .40);
        position: absolute;
        top: 50%;
        left: 160%;
        transform: translateY(-50%);
        @media (max-width: $breakpoint-xl) {
          display: none;
        }
      }

      @media (max-width: 420px) {
        margin-bottom: 30px;
      }
    }

    &__heading {
      margin-bottom: 26px;
      color: $accentColor;
      font-size: 18px;
    }
  }


  & .menu {

    text-align: center;

    @media (max-width: $breakpoint-md) {
      display: block;
      text-align: left;
      width: 50%;
    }

    &-item {
      padding: 0 11px;
      //  flex: 0 0 50%;
      display: inline-block;
      @media (max-width: $breakpoint-md) {
        display: block;
        padding: 0;
        & + li {
          margin-top: 22px;
        }
      }

      & a {
        font-weight: 400;

        text-decoration-line: none;
        @include fontSize(16, 18);
        line-height: 1.25;
        color: $whiteColor;
        @include transition(.3);

        &:hover {
          color: $accentColor;
        }
      }
    }
  }

  & .social__list {
    margin-top: 12px;
    @media (max-width: $breakpoint-md) {
      min-width: 144px;
    }
  }

  & .contact {
    &__list {
      @media (max-width: $breakpoint-md) {

        margin-bottom: 36px;
      }
    }

    &__link {
      @include fontSize(16, 18);
      @include transition(.4);
    }

    &__item {
      &:not(&:last-child) {
        margin-bottom: 26px;
        @media (max-width: $breakpoint-md) {

        }
      }

      &:hover {
        a {
          color: $accentColor;
        }
      }
    }
  }

}

